<div class="container">
  <h1>Add Playmate</h1>

  <form role="form" name="form">
  <div class="form-group">
    <label>Upload Image:</label>
    <div ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 800}">
      <button>Select Picture</button>
      <span class="fileSelect"> {{file.$ngfName}} </span>
      <img ngf-thumbnail="file || '/images/upload.svg'">
    </div>
    <input type="text" ng-model="comment" placeholder="Add comment" class="u-full-width" />
    <!-- <button type="submit" ng-click="submit()">Upload</button> -->
  </div>

  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" ng-model="nameIn" placeholder="Name">
  </div>
  <div class="form-group">
    <label>Breed:</label>
    <input type="text" class="form-control" ng-model="breedIn" placeholder="Breed">
  </div>
  <div class="form-group">
    <label>Age:</label>
    <input type="text" class="form-control" ng-model="ageIn" placeholder="Age">
  </div>
  <div class="form-group">
    <label>
      <input type="radio" class="form-control" ng-model="genderIn" value="male"> Male
    </label>
    <label>
      <input type="radio" class="form-control" ng-model="genderIn" value="female"> Female
    </label>
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" class="form-control" ng-model="sterileIn" value="yes"> Neutered or Spayed
    </label>
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" class="form-control" ng-model="vaccinatedIn" value="yes"> Vaccinated
    </label>
  </div>
  </form>
  <div>
  <button type="submit" ng-click="submit()">Submit</button>
  <!-- <button id="addButton" ng-click="upload()" type="submit" class="btn btn-danger">Add Playmate</button> -->
  </div>
</div>
