<div class="container">
  <div class="jumbotron">
    <h1> Favorites </h1>
  </div>

  <div class="playmate-profile" ng-repeat="fave in favePlaymates">
    <img class="img-square img-responsive" ng-src="{{ fave.location }}">
  </div>
  <p>
    {{ fave.name }},
    {{ fave.breed }},
    {{ fave.age }},
    {{ fave.gender }},
    {{ fave.sterile }},
    {{ fave.vaccinated }}
    {{ fave.size }}
    {{ fave.bio }}
    {{ fave.playstyles }}
    <button type="button" name="button" ng-click="removeFave(fave.id)">Remove Fave</button>
  </p>

</div>
