<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>simple crud</title>

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>

    <script type="text/javascript" src="/scripts/main.js"></script>
    <script type="text/javascript" src="/scripts/controllers/PlaymateController.js"></script>


  </head>
  <body ng-app="myApp" >
    <a href="#addplaymate">add playmate</a>
    <a href="#showplaymates">show playmates</a>
    <a href="#favorites">favorites</a>

    <main ng-view></main>

  </body>
</html>
